body {
	background-color: #eee;
}
.book-container {
	outline: 1px solid #aaa;
	list-style: none;
	width: 350px;
	background-color: #fff;
	float: left;
	margin: 5px;
}
.book-container img {
	float: left;
	margin: 10px;
}
.book-container ul {
	list-style-type: none;
	clear: both;
}
.book-container button {
	float: right;
	margin: 10px;
}
#add-book label {
	width: 100px;
	margin-right: 10px;
	text-align: right;
	line-height: 25px;
}
#add-book label, #add-book input {
	display: block;
	margin-bottom: 10px;
	float: left;
}
#add-book label[for="title"], #add-book label[for="releaseDate"] {
	clear: both;
}
#add-book button {
	display: block;
	margin: 5px 20px 10px 10px;
	float: left;
	clear: both;
}
#add-book div {
	width: 550px;
}
#add-book div:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}
.book-content-wrap{
	clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}